apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${volume_name}
  namespace: ${volume_namespace}
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ${volume_class_name}
  resources:
    requests:
      storage: ${volume_size}
