apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ${secret_name}
  namespace: ${secret_namespace}
spec:
  refreshInterval: ${refresh_interval}
  secretStoreRef:
    name: ${secret_store_name}
    kind: ${secret_store_type}
  target:
    name: ${secret_name}
    creationPolicy: ${creation_policy}
    template:
      type: ${secret_type}
  data:
%{ for s in secret_props ~}
    - secretKey: ${s.secret_key}
      remoteRef:
        key: ${vault_key}
        property: ${s.property}
%{ endfor }
