apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: ${cluster_secret_store_name}
spec:
  provider:
    vault:
      server: "${vault_address}"
      path: "${vault_secrets_path}"
      version: "v2"
      caProvider:
        type: "Secret"
        name: "${ca_secret_name}"
        key: "${ca_secret_key}"
        namespace: "${ca_secret_namespace}"
      auth:
        kubernetes:
          mountPath: "${vault_auth_mount_path}"
          role: "${vault_role}"
          serviceAccountRef:
            name: "${service_account_name}"
            namespace: "${service_account_namespace}"

